body {
    background-color: #d4c5a3
}

.bgimg {
    filter: blur(10px);
    position: absolute;
    z-index: -10001010;
    width: 99%;

}

.first {
    margin-top: 25px;
}

h1 {
    font-family: "latienne-pro", serif;
    font-weight: 700;
    font-style: normal;
    color: rgb(48, 31, 10);
    text-align: center;
    font-size: 70px;
}

h2 {
    font-family: "latienne-pro", serif;
    font-weight: 700;
    font-style: normal;
    color: rgb(230, 217, 202);
    text-align: center;
    font-size: 40px;
}

h3 {
    font-family: "latienne-pro", serif;
    font-weight: 100;
    font-style: normal;
    color: rgb(48, 31, 10);
    text-align: left;
    font-size: 25px;
}


p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    font-style: normal;
    color: rgb(212, 203, 189);
    text-align: left;
    font-size: 20px;
    text-indent: 30px;
}

.box {
    border-radius: 25px;
    background-color: rgba(63, 40, 18, 0.568);
    padding: 20px;
    transition: 0.3s;
}

.box:hover {
    border-radius: 25px;
    background-color: rgba(33, 63, 18, 0.568);
    padding: 20px;

}





.sepiaimg {
    filter: sepia(1) brightness(90%) contrast(80%);
    transition: 0.3s;
}

.sepiaimg:hover {
    filter: sepia(0) brightness(100%) contrast(100%)
}



.logo {
    filter: hue-rotate(0deg) contrast(90%);
    transition: .6s;
}

.logo:hover {
    filter: hue-rotate(340deg);
}




.navbox {
    display: block;
    justify-content: center;
    align-content: center;
    padding: 15px;
    height: 40px;
}

.navtext {
    color: (48, 31, 10);
    text-align: center;
    transition: 0.3s;
    justify-self: center;
    display: block;
}

.navtext:hover {
    color: green;
}